allow init property_type:file { append create getattr map open read relabelto rename setattr unlink write };
allow init hal_fingerprint_oppo:binder { call };
allow init system_server:binder { call };
